/* StAuth10244: I Van Ben Pham, 000872024 certify that this material is my original work. No other person's work has been used without due acknowledgement. I have not made my work available to anyone else. */

body {
  margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav {
  background-color: blanchedalmond;

}

footer {
  text-align: center;
  margin-top: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
